@import "sanitize"
@import "helpers"
@import "fontface"

// VARIABLES

$font-size-basic = 15px
$font-leading-basic = 1.35em
$font-tracking-basic = 0.001em

$color-black-soft = rgb(14,14,14)
$color-white-soft = rgb(253,253,253)

// TYPOGRAPHY

html 
  overflow: hidden

body
  font-family: 'Conv_PxGrotesk-Regular', helvetica,arial,sans-serif
  font-size: $font-size-basic
  line-height: $font-leading-basic
  letter-spacing: $font-tracking-basic
  color: white
  background: black

h1
  font-size: 3em

h2
  font-size: 2em

h3
  font-size: 1.5em

p
  margin-bottom: 1em


// LINKS

a,a:active,a:visited
  color:inherit
  transition:opacity .2s
  &:hover
    opacity:.5


// BASIC

html
  background-color: $color-white-soft
  color: $color-black-soft

img
  max-width: 100%
  height: auto


//the 100% widths are just so stylus can compile delete as desired

// HEADER

#header
  width: 100%

// POSTS LOOP
#posts
  width: 100%

.post
  width: 100%

#pagination
  width: 100%


// FOOTER

#footer
  width: 100%

// VIDEO
#title
  z-index: 20
  position: fixed
  width: 100%
  top: 0
  text-align: center

#webcamFeed
  width: 250px
  height: auto
  z-index: 10
  position: absolute
  bottom: 0
  right: 0

#threeContainer
  position: fixed
  bottom: 0
  left: 0
  z-index: 10
  transition: opacity 300ms;

#controlPlayer
  position: fixed
  bottom: 0
  left: 0
  z-index: 11


// MEDIA QUERIES

@media screen and (max-width: 1272px)
  html
    width: 100%
