@import "sanitize"
@import "helpers"
@import "fontface"

// VARIABLES

$font-size-basic = 15px
$font-leading-basic = 1.35em
$font-tracking-basic = 0.001em

$color-black-soft = rgb(14,14,14)
$color-white-soft = rgb(253,253,253)
$color-light-purple = rgb(118, 103, 193)

// TYPOGRAPHY

html 
  overflow: hidden

body
  font-family: 'Conv_PxGrotesk-Regular', helvetica,arial,sans-serif
  font-size: $font-size-basic
  line-height: $font-leading-basic
  letter-spacing: $font-tracking-basic
  color: white
  background: black
  overflow: hidden

h1
  font-size: 5em

h2
  font-size: 2em

h3
  font-size: 1.5em

p
  margin-bottom: 1em


// LINKS

a,a:active,a:visited
  color:inherit
  transition:opacity .2s
  &:hover
    opacity:.5
    cursor: pointer


// BASIC

html
  background-color: $color-white-soft
  color: $color-black-soft

img
  max-width: 100%
  height: auto


//the 100% widths are just so stylus can compile delete as desired

#prompt
  display: none !important
  position: fixed
  top: 49.5%
  width: 100%
  text-align: center
  font-weight: 100
  font-family: 'Helvetica'
  font-size: 1.5em
  transition: opacity 300ms
  animation: blink 484ms infinite alternate
  color: $color-light-purple
  display: none

  &.active
    display: block

// VIDEO
#title
  z-index: 20
  position: fixed
  width: 100%
  top: 0
  text-align: center
  padding: 1em

#threeContainer
  opacity: 0
  position: fixed
  bottom: 0
  left: 0
  z-index: 10
  transition: opacity 400ms;

#playPlayer
  font-size: 10em
  position: fixed
  top: 48.5%
  width: 100%
  text-align: center
  display: none
  z-index: 11
  color: $color-light-purple

  &.active
    display: block

#pausePlayer
  display: none !important
  position: fixed
  bottom: 0
  left: 0
  z-index: 11
  display: none
  color: $color-light-purple
  padding: 30px
  font-size: 2em

  &.active
    display: block

#closeBtn
  color: $color-light-purple
  
#info
  display: none !important
  position: relative
  z-index: 30
  max-width: 800px
  margin: 0 auto
  width: 100%
  font-size: 1.5em
  line-height: 1.4
  padding: 10em 30px 0
  text-align: center
  transform: translateY(-100%)
  transition: transform 300ms

  &.active
    transform: translateY(0%)

.dg.ac
  display: none !important


@keyframes blink
  from { opacity: 0.4; }
  to   { opacity: 1; }

// MEDIA QUERIES

@media screen and (max-width: 500px)
  html
    width: 100%

  h1
    font-size: 3em

  #info
    padding: 100px 30px 0
    font-size: 1em
